extends layout 

block content 
  each i in messages 
    div(class="bg-[#FFF5E0] p-4")
      ul(class="flex flex-col rounded-lg bg-[#F4BF96] p-4 mb-4 shadow-xl")
        li(class="text-lg") Message: #{i.message}
        li By: #{i.user}
        li= i.nice_date
        form(method="POST" action="/message/"+i.id+"/delete" class="self-center")
          button(type="submit" class="p-2 bg-red-400 rounded-lg mt-2") Delete