extends layout 

block content 
  each i in messages 
    ul
      li= i.message
      li= i.user
      li= i.time
      form(method="POST" action="/"+i.id+"/delete")
        button(type="submit") Delete
  a(href="/new") Add a new message  