doctype html
html 
  head
    title Mini Messageboard
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body 
    div(class="flex items-center justify-between bg-[#EEE2DE] sticky top-0")
      a(href="/" class="m-4 text-3xl") Mini Messageboard
      div 
        a(href="/message/new" class="my-4 mx-2 rounded-lg bg-red-400 px-3 py-2") Add a new message  
        if currentUser
          span(class="my-4 mx-2 rounded-lg bg-red-400 px-3 py-2") Hello, #{currentUser.username}!
        else
          a(href="/user/signup" class="my-4 mx-2 rounded-lg bg-red-400 px-3 py-2") SignUp
          a(href="/user/login" class="my-4 mx-2 rounded-lg bg-red-400 px-3 py-2") Login
    div(class="overflow-scroll")
      block content